{% extends 'base.html' %}

{% block title %}Estudiantes | Control Académico{% endblock %}

{% block content %}
    <section class="page-section">
        <h1>Estudiantes</h1>

        <nav>
            <a class="boton boton-secundario" href="{% url 'home' %}">Inicio</a>
            <a class="boton boton-primario" href="{% url 'estudiantes:crear_estudiante' %}">Registrar estudiante</a>
        </nav>


        <table class="tabla-datos" border="1">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>DNI</th>
                    <th>Correo</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for estudiante in estudiantes %}
                    <tr>
                        <td>{{ estudiante.codigo }}</td>
                        <td>{{ estudiante.nombres }}</td>
                        <td>{{ estudiante.apellidos }}</td>
                        <td>{{ estudiante.dni }}</td>
                        <td>{{ estudiante.correo }}</td>
                        <td>{{ estudiante.get_estado_display }}</td>
                        <td>
                            <a class="boton boton-secundario" href="{% url 'estudiantes:detalle_estudiante' estudiante.id %}">Ver</a>
                            <a class="boton boton-editar" href="{% url 'estudiantes:editar_estudiante' estudiante.id %}">Editar</a>
                            <a class="boton boton-peligro" href="{% url 'estudiantes:desactivar_estudiante' estudiante.id %}">Desactivar</a>
                            <a class="boton" href="{% url 'reportes:reporte_estudiante' estudiante.id %}">Reporte</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7">No hay estudiantes registrados.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
